@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

p
{
	font-weight: 300;
	color: #111;
}

.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(img/chicken\ casado.jpg);
	background-size: cover;
	color: #ffffff;
	background-color: rgba(0,0,0,.2);
	background-blend-mode:darken;
	background-position: 0% 20%;
}

.banner .content
{
	max-width: 900px;
	text-align: center;
}

.banner .content h2
{
	font-size: 10vh;
	font-family: cursive;
	color: red;
	-webkit-text-stroke: .8vh #fff;
	paint-order: stroke fill;
}

.banner .content p
{
	font-size: 3vh;
	padding: 10px 12px 10px 12px;
}

.btn
{
	font-size: 1em;
	color: #fff;
	background: #00205B;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 20px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border-radius: .5em;
}

.btn:hover
{
	letter-spacing: 6px;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky
{
	background: #fff;
	padding: 10px 60px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header a .logo
{
	width: 30%;
}


header .navigation
{
	display: flex;
}

header .navigation li
{
	list-style: none;
	margin-left: 30px;
}

header .navigation li a
{
	text-decoration: none;
	font-family: cursive;
	color: #00205B;
	font-weight: 400;
	font-size:xx-large;
}

header.sticky .navigation li a
{
	color: #00205B;
}

header .navigation li a:hover
{
	color: #DA291C;
}

section
{
	padding: 100px;
}

.row
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .col50
{
	position: relative;
	width: 48%;
}

.titleText
{
	color: #111;
	font-family: cursive;
	font-size: 2em;
	font-weight: 300;
}

.titleText span
{
	font-family: cursive;
	color: #DA291C;
	font-weight: 700;
	font-size: 1.5em;
}

.imgBx img
{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.title
{
	text-align: center;
}

.menu .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.menu .content .box
{
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.menu .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}

.menu .content .box .imgBx img
{
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.menu .content .box .text
{
	padding: 15px 0 5px;
}

.menu .content .box .text h3
{
	font-weight: 400;
	color: #111;
}

.white .titleText,
.white p
{
	color: #fff;
}

.copyrightText
{
	padding: 8px 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: right;;
}

.copyrightText p
{
	color: #333;
}

.copyrightText a
{
	color: #DA291C;
	font-weight: 500;
	text-decoration: none;
}

.copyrightText a img
{
	width: 4%;
	padding: 10px;
}

.location
{
	display: inline-block;
	width: 100%;
}

.location .map
{
	display: block;
	width: 80%;
	aspect-ratio: 2;
	margin: auto;
}

/*-------- Tablet scren ------------*/
@media screen and (max-width:  1100px)
{
	header,
	header.sticky
	{
		padding: 10px 20px;
	}

	header .navigation
	{
		display: none;
	}

	header .navigation.active
	{
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}

	header .navigation li
	{
		margin-left: 0;
	}

	header .navigation li a
	{
		text-decoration: none;
		color: #111;
		font-size: 1.6em;
		font-weight: 300;
	}

	header a .logo
	{
	width: 35%;
	}

	.btn
	{
		font-size: 1.5em;
		padding: 10px 15px;
	}

	.menuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(img/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}

	.menuToggle.active
	{
		background: url(img/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}

	header.sticky .menuToggle
	{
		filter: invert(1);
	}

	section
	{
		padding: 20px;
	}

	.banner .content h2
	{
		font-size: 8vh;
		font-family: cursive;
		-webkit-text-stroke: .5vh #fff;
	}

	.row
	{
		flex-direction: column;
	}

	.row .col50
	{
		width: 100%;
	}

	.col50 .imgBx
	{
		margin-top: 30px;
	}

	.menu .content
	{
		margin-top: 20px;
	}

	.menu .content .box
	{
		margin: 10px;
	}

	.menu .content .box .imgBx
	{
		height: 260px;
	}

	.title
	{
		text-align: center;
	}

	.titleText
	{
		font-size: 1.8em;
		line-height: 1.5em;
		margin-bottom: 15px;
		font-weight: 300;
	}

	.copyrightText a img
{
	width: 10%;
	padding: 10px;
}
.banner
	{
		background-position: 60%;
	}
}
/*-------- Tablet scren ------------*/

/*--------- Mobile screen ----------*/
@media screen and (max-width: 440px)
{
	header.sticky
	{
		padding: 10px 20px;
	}

	.testimonials .content .box
	{
		margin: 10px;
		padding: 20px;
	}

	.contactForm
	{
		padding: 35px 40px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.banner .content h2
	{
		font-size: 6vh;
		font-family: cursive;
		-webkit-text-stroke: .5vh #fff;
	}

	.banner .content p
	{
		font-size: 2vh;
		padding: 5px 6px 5px 6px;

	}

	header a .logo
	{
	width: 50%;
	}

	.copyrightText a img
	{
		width: 12%;
		padding-right: 5px;
	}
}